#div1{
	background-color:#AFDCEC;
}
.submitBtn{
	background-color:#0000A0;
}
#div2{
	background-color:#AFDCEC;
}
#reset{
	background-color:#1589FF;
}
#div3{
	background-color:#AFDCEC;
}
#div4{
	background-color:#AFDCEC;
}
#div5{
	background-color:#AFDCEC;
}
#div6{
	background-color:#AFDCEC;
}



	